apiVersion: apps/v1
kind: Deployment
metadata:
  name: bookshop-catalog-service
  labels:
    app: bookshop-catalog-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bookshop-catalog-service
  template:
    metadata:
      labels:
        app: bookshop-catalog-service
    spec:
      containers:
        - name: bookshop-catalog-service
          image: bookshop-catalog-service
          imagePullPolicy: IfNotPresent
          lifecycle:
            preStop:
              exec:
                command: [ "sh", "-c", "sleep 5" ]
          ports:
            - containerPort: 9001
          env:
            - name: BPL_JVM_THREAD_COUNT
              value: "50"
            - name: SPRING_CLOUD_CONFIG_URI
              value: http://bookshop-config-service
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://bookshop-postgres/bookshopdb_catalog
            - name: SPRING_PROFILES_ACTIVE
              value: testdata